<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>yt-Download</title>
</head>
<body>
        <style>
                .inputtext{
            
                    size: 100;
                    border-radius: 5px;
                    font-size: 18px ;
                    padding: 5px;

                    height :10000;
                    border-radius: 50px ; 
                    width: fit-content
            
                }
                </style>
        <%- include navbar.ejs %>
        <center>
            </br>
            <h1>search in youtube</h1>
        </br>
            <form  method="GET" action="/searchResults">
       
                <input class="inputtext" type="text" name="search" size="30"  placeholder="Search in Youtube">
                <button class="btn btn-outline-primary " style="height: 26;" type="submit">Search</button>
              </form>
            </br></br>

 <p style="font-size: xx-large; font-style: Impact ;font-display: blod">  <%= typeof message == 'undefined' ? ' ' :message %></p>


    
</center>
</body>
</html>
